header {
    padding: 4em;
   
  }
  body {
    background-color: white;
  }
  a {
    font-size: 0.7em;
  
  }
  label {
    font-size: 0.7em;
  }
  button {
    width: 75%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: rgb(48, 89, 176);
    color: white;
    border: 0 none;
    border-radius: 3px;

    margin-top: 1em;
  }
  .link {
  padding-left: 2.8em;
    margin-top: 0.5em;
  }
  .link1 {
    margin-top: 0.5em;
    padding-left: 0.7em;
  }
  p {
    margin-top: 0px;
    margin-left: 0px;
  }
  .casilla {
    margin-left: 0px;
    margin-top: 3px;
    padding-top: 1em ;
  }
  input{
    margin-top: 6px;
  }
  .email{
  margin-bottom: -0.5em;
  }
  .password{
    margin-bottom: -0.5em;
    margin-top: 1em;
  }
